.contenedor {
  width: 40dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.mapa {
  width: 100%;
  border-style: double;
  border: 2px solid #000; /* Borde sólido de 2px de ancho y color negro */
  padding: 20px; /* Espacio interno para que el contenido no esté pegado al borde */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo opcional */
}
